.venv/
__pycache__/
*.pyc
*.egg-info/
dist/
build/
.DS_Store
sources/music/*
sources/images/*
sources/videos/*
output/**/*.mp4
!sources/music/.gitkeep
!sources/images/.gitkeep
!sources/videos/.gitkeep
*.wav
*.mp3
*.flac
*.aiff
*.jpg
*.jpeg
*.png
*.webp
*.tif
*.tiff
